*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;

}
#contact-us{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;   
     background-color: #ffffff;
}
#contact-us h1{
    margin-top: 2em;
    color: #254ac5;
    font-size: 2.3em;
}
#contact-us p{
    color: #323232;
    font-size:1rem;
}
#contact-us form{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: left;
    border: 3px solid #254ac5;
    width: 40%;
    border-radius: 5px;
    padding: 2em;
    height: 60%;
}
#contact-us form label{
    color: #292929;
    font-size: 1.2em;
    margin-top: 0.4em;
}
#contact-us form input{
    margin-top: 0.4em;
    padding: 0.5em;
    border: 1px solid #4b4b4b;
    border-radius: 5px;
}
#contact-us form textarea{
    margin-top: 0.4em;
    padding: 0.5em;
    border: 1px solid #555555;
    border-radius: 5px;
    height: 50%;
    resize: none;
}
#contact-us form input[type="submit"]{
    margin-top: 1em;
    padding: 0.5em;
    border: 1px solid #4b4b4b;
    border-radius: 5px;
    background-color: #254ac5;
    color: white;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    width: auto;
    
}