*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}

/* NAVIGATION CSS */

/* HERO */
#introduction {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    background-image: url('../assets/muffins-wallpaper.png'); /* Ensure path is correct */
    background-size: cover; /* Adjust as needed: cover, contain, etc. */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    padding: 2rem 3rem;
}

#introduction img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#introduction h1 {
    margin-top: 2.3em;
    color: white; /* Ensure the text is visible */
    font-size: 4em; /* Adjust as needed */
}
#introduction p {
    color: white;
    font-size:1.5rem;
}

#introduction button {
    background-color: #254ac50d;
    border: 1px solid #254ac5;
    color: white;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 3rem;
    transition: 0.3s ease;
}
/* CUSTOMIZE CAKE SECTION */
#customize-cakes{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #254ac5;
}
.custom-container{
    height: 90%;
    width: 95%;
    background-color:#ffffff ;
    display: flex;
    flex-direction: row;
}
.custom-container div{
    width: 50%;
    height: 100%;
}
.custom-container #cake-img-container{
    background-image: url('../assets/cake-with-transparent-background-high-quality-ultra-hd-free-photo.jpg');
    background-size: cover; /* Adjust as needed: cover, contain, etc. */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
}
.custom-container #cake-text-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 3rem;
}
.custom-container #cake-text-container h2{
    color: #313131;
    font-size: 2.8rem;
    margin-bottom: 1rem;
}
.custom-container #cake-text-container p{
    color: #585858;
   
}
.custom-container #cake-text-container button {
    margin: 2em 0;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    width: 27%;
    background-color: #254bc5;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.custom-container #cake-text-container button:hover {
    background-color: #1a3da0;
}
/* PASTRIES AND COOKIES */
#pastries-cookies{
    height: 70vh;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
}
#pastries-cookies #buns-container{
background-color: #585858;
width: 50%;
height: 100%;
background-image: url('../assets/buns.jpg');
background-size: cover; 
background-position: center;
background-repeat: no-repeat;
}
#pastries-cookies #cookies-container {
    background-color: #616161;
    width: 50%;
    height: 100%;
    background-image: url('../assets/Cookies.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;

}

/*  */
#booth{
    height: 70vh;
    background-color: #254bc5;
    color: white;
    display: flex;
    padding: 4rem;
    align-items: center;
    flex-direction: column;
}
#booth h2{
    font-size: 1.8rem;
    margin: 2rem 1rem;
}
#booth p{
    font-family: system-ui;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 400;
}
#booth button{
    padding: 0.5rem 1.5rem;
    background-color: #ffffff;
    color: #254bc5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
#supplies{  
    height: 80vh;
    background-color: #ffffff;
}
