/* Reset Styles */
*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

/* Container Layout */
.products-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* Sidebar Styles */
.sidebar {
    flex: 0.5;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    height: fit-content;
    padding-bottom: 5em;
}

.side-bar-title h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

.category-list {
    padding: 0;
    list-style: none;
}

.category-list li {
    margin-bottom: 10px;
}

.category-list a {
    text-decoration: none;
    color: #007bff;
}

/* Main Content Layout */
.main-content {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Product Category Styles */
.product-category {
    background-color: rgb(69, 133, 223);    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-category h2 {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 20px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Product Card Styles */
.product-card {
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    width: calc(33.333% - 20px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
    height: 400px;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-link {
    text-decoration: none;
    color: #333;
}

.product-card img {
    width: 100%;
    height: 280px;
    background-color: rgb(112, 112, 112);
    object-fit: cover;
}

.product-info {
    padding: 10px;
}

.product-info h3 {
    margin: 10px 0 5px;
    font-size: 18px;
    color: #333;
}

.product-info p {
    font-size: 14px;
    color: #555;
}
